{% extends 'costomer/base.html' %}
{% block content %}
{% load static %}
    <!-- Header Area-->
    <div class="header-area" id="headerArea">
      <div class="container h-100 d-flex align-items-center justify-content-between rtl-flex-d-row-r">
        <!-- Back Button-->
        <div class="back-button me-2"><a href="checkout-payment.html"><i class="fa-solid fa-arrow-left-long"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
          <h6 class="mb-0">Bank Info</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler ms-2" data-bs-toggle="offcanvas" data-bs-target="#suhaOffcanvas" aria-controls="suhaOffcanvas">
          <div><span></span><span></span><span></span></div>
        </div>
      </div>
    </div>

    <div class="page-content-wrapper">
      <div class="container">
        <!-- Checkout Wrapper-->
        <div class="checkout-wrapper-area py-3">
          <div class="credit-card-info-wrapper"><img class="d-block mb-4" src="{% static 'costomer/img/bg-img/credit-card.png'%}" alt="">
            <div class="bank-ac-info">
              <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 border-bottom">Bank Name<span>Example Bank Ltd.</span></li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0">Account Number<span>010 2125 32563 2525</span></li>
              </ul>
            </div><a class="btn btn-warning btn-lg w-100" href="{% url 'payment_success' %}">Order Now</a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}