{% extends "costomer/base.html" %}
{% block content %}

    <!-- Order/Payment Success-->
    <div class="order-success-wrapper">
      <div class="content"><i class="fa-solid fa-basket-shopping"></i>
        <h5 class="text-white">Payment successful</h5>
        <p class="text-white opacity-75">We will notify you of all the details via email. Thank you!</p>
        <a class="btn btn-warning mt-3" href="{% url 'home' %}">Shopping Again</a>
        <a class="btn btn-info mt-3" href="{% url 'my_orders' %}"> My Orders</a>
      </div>
    </div>
    {% endblock %}