{% extends 'costomer/base.html' %}
{% block content %}
{% load static %}


<style>
  .change-user-thumb{
 
  }
  .editBtn {
    width: 25px;
    height: 25px;
    background-color: #fef8ff;
    border: none;
    border-radius: 50%;
    color: black
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ebebeb;
  }
  .editBtn a{
    padding: px;
    color: #000;
  }
</style>


    <!-- Header Area -->
    <div class="header-area" id="headerArea">
     {% include "costomer/snippets/nav-header.html" %}
    </div>
    
    <div class="page-content-wrapper">
 
      <div class="container">


<!-- Sidenav Profile-->
<div class=" sidenav-profile sidenav-profile-front shadow-sm bg-white">
  <div class="user-profile"><img src="{{request.user.profile_pic.url}}" alt=""></div>
  <div class="user-info">
    <h5 class="user-name mb-1 text-colour text-capitalize">{{request.user.username}} <span> 
     
          <button class="editBtn"><a href=" {% url 'edit_profile' %}"><i class="fa-solid fa-pen"></i></button>
  
    </a></span></h5>
  </div>
</div>


        <div class="settings-wrapper py-3">
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-moon"></i><span>Night Mode</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" id="darkSwitch" type="checkbox">
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>

              
            </div>
          </div>
          
          
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-bell"></i><span>Notifications</span></div>
                <div class="data-content">
                  <div class="toggle-button-cover">
                    <div class="button r">
                      <input class="checkbox" type="checkbox" checked>
                      <div class="knobs"></div>
                      <div class="layer"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-circle-question"></i><span>Support</span></div>
                <div class="data-content"><a href="{% url 'support' %}">Get Help<i class="fa-solid fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-shield"></i><span>Privacy Policy</span></div>
                <div class="data-content"><a href="{% url 'privacy_policy' %}">View<i class="fa-solid fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Single Setting Card-->
          <div class="card settings-card">
            <div class="card-body">
              <!-- Single Settings-->
              <div class="single-settings d-flex align-items-center justify-content-between">
                <div class="title"><i class="fa-solid fa-key"></i><span>Password<span>Updated 1 month ago</span></span></div>
                <div class="data-content"><a href="change-password.html">Change<i class="fa-solid fa-angle-right"></i></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}