<div
  class="container h-100 d-flex align-items-center justify-content-between d-flex rtl-flex-d-row-r"
>
  <!-- Logo Wrapper -->
  <div class="logo-wrapper">
    <a href="{% url 'home' %}"
      ><h3 class="my-text-colour">AbleTech</h3>
    </a>
  </div>
  <div class="navbar-logo-container d-flex align-items-center">
    <!-- Cart Icon -->
    {% if cart_items > 0 %}
    <div class="cart-icon-wrap">
      <a href="{% url 'cart' %}"
        ><i class="fa-solid fa-bag-shopping"></i><span>{{cart_items}}</span></a
      >
    </div>
    {% else %}
    <div class="cart-icon-wrap">
      <a href="{% url 'cart' %}"
        ><i class="fa-solid fa-bag-shopping"></i></a
      >
    </div>
    {% endif %}
   
    <!-- User Profile Icon -->

    {% if request.user.is_authenticated %}
    <div class="user-profile-icon ms-2">
      <a href="{% url 'my_account' %}"
        ><img src="{{request.user.profile_pic.url}}" alt=""
      /></a>
    </div>
    {% else %}

      <p class="pt-3 px-2"><a href="{% url 'signup' %}">Register</a></p>
  
    {% endif %}

    <!-- Navbar Toggler -->
    <div
      class="suha-navbar-toggler ms-2"
      data-bs-toggle="offcanvas"
      data-bs-target="#suhaOffcanvas"
      aria-controls="suhaOffcanvas"
    >
      <div><span></span><span></span><span></span></div>
    </div>
  </div>
</div>
