{% extends "dashboard/base.html" %} {% load static %} {% block title %} Shop
Setting {% endblock %} {% block content %}

<div class="centered-form">
  <form action="add_shop" method="POST" id="settingForm" data-sub-url="{% load_sub_categories %">
    {% csrf_token %}
    <h4 class="text-center my-2">Shop Details</h4>

    <div class="col-md-12 col-md-6 d-md-flex d-block">
      <div class="input-group">
        <div class="w-100 mx-3">
          <label for="full_name">Shop Name</label>
          <input
            class="form-control"
            type="text"
            name="shop_name"
            id="full_name"
            value="{{shop_name}}"
          />
        </div>
      </div>
     
      <div class="input-group">
        <div class="w-100 mx-3">
          <label for="user_id">Shop owner</label>
          <input
            class="form-control"
            type="text"
            name="user_id"
            id="user_id"
            value="{{request.user}}"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12 col-md-6 d-md-flex d-block">
        <div class="input-group">
            <div class="w-100 mx-3 text-capitalize">
              <label for="shop_category_id">Category</label>
              {{shopform.shop_category_id}}
            </div>
          </div>
          <div class="input-group">
            <div class="w-100 mx-3 text-capitalize">
              <label for="sub_category">Sub Category</label>
              {{shopform.sub_category}}
            </div>
          </div>
      <!-- <div class="input-group">
        <div class="w-100 mx-3">
          <label for="shop_category_id">Category</label>
          <input
            class="form-control"
            type="text"
            name="shop_category_id"
            id="shop_category_id"
            value="{{shop_category_id}}"
          />
        </div>
      </div> -->
    </div>
    <div class="col-md-12 col-md-6 d-md-flex d-block">
      <div class="input-group">
        <div class="w-100 mx-3">
          <label for="email">Contact</label>
          <input
            class="form-control"
            type="Contact"
            name="Contact"
            id="Contact"
            value="{{Contact}}"
          />
        </div>
      </div>
      <div class="input-group">
        <div class="w-100 mx-3">
          <label for="address"> Address</label>
          <input
            class="form-control"
            type="tel"
            name="address"
            id="address"
            value="{{address}}"
          />
        </div>
      </div>
    </div>

    <div class="col-md-12 col-md-6 d-md-flex d-block">
      <div class="input-group">
        <div class="w-100 mx-3">
          <label for="longitude">Longitude </label>
          <input
            class="form-control"
            type="text"
            name="longitude"
            id="longitude"
            value="{{longitude}}"
          />
        </div>
      </div>
      <div class="input-group">
        <div class="w-100 mx-3">
          <label for="latitude">Latitide</label>
          <input
            class="form-control"
            type="text"
            name="latitude"
            id="latitude"
            value="{{latitude}}"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
      <input type="submit" value="SUBMIT" class="btn btn-primary" />
    </div>
  </form>
</div>

<!-- 
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
    $("#id_category").change(function(){
        var url = $("#settingForm").attr("data-sub-url");
        var categoryId = $(this).val();

        $.ajax({
            url : url,
            data: {
                'category': categoryId
            },
            success: function(data){
                $("#id_subCat").html(data);
            }
        }
        );
    
    }
    );
</script>

{% endblock %}
 -->