{% extends "dashboard/base.html" %}
{% load static %}
<!-- CSS -->




{% block content %}

<!-- Form grid Start -->
<div class="pd-20 card-box mb-30">
  <div class="clearfix">
    <div class="pull-left">
      <h4 class="text-blue h4">Form grid</h4>
      <p class="mb-30">All bootstrap element classies</p>
    </div>
    
  </div>
  <form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label>Product Name</label>
          <input type="text" class="form-control" name="product_name" />
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label>Price</label>
          <input type="text" class="form-control" name="price"/>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="form-group">
          <label>Brand</label>
          <input type="text" class="form-control" name="brand_name"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description"> </textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label>Manufactured Date</label>
            <input type="text" class="form-control" name="manufactured_Date" />
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label>Pictures </label>
            <input type="file" multiple class="form-control" name="product_picture" />
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="form-group">
            <label>Active </label>
            <input type="checkbox" checked name="is_active"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      
       <div class="col-md-12 text-center">
        <button type="submit" class="btn btn btn-primary">POST</button>
       </div>
      </div>
    </div>
  
    
  </form>

</div>
<!-- Form grid End -->


{% endblock %}