{% extends 'dashboard/base.html' %}

{% block title %} All Products{% endblock  %}

{% block content %}
{% load widget_tweaks %} 
{% load static %}
<div class="container">

    

    <!-- Simple Datatable start -->
    <div class="card-box mb-30 text-capitalize">
        <div class="pd-20">
            <div class="hear d-flex justify-content-between">
                <h4 class="text-blue h4">All Products <span class="text-dark"> ({{total_products}} Products) </span></h4>
<button class="btn btn-primary filter-button">Filter</button>
            </div>
            <form action="" method="GET" id="filter-form">

                <div class="d-none col-md-12 d-none filter-div">
                    <div class="col-md-3">
                        <div class="div"> 
                            {{ product_filter.form.price_from_to.label_tag }}
                            {% render_field product_filter.form.price_from_to class="form-control" %}
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div"> 
                            {{ product_filter.form.date_range.label_tag }}
                            {% render_field product_filter.form.date_range class="form-control" %}
                           
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div"> 
                            {{ product_filter.form.brand_name.label_tag }}
                            {% render_field product_filter.form.brand_name class="form-control" %}
                            {{ product_filter.form.is_active.label_tag }}
                            {% render_field product_filter.form.is_active class="form-control" %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="div"> 
                            {{ product_filter.form.brand_name.label_tag }}
                            {% render_field product_filter.form.brand_name class="form-control" %}
                            <br>
                            <button class="btn btn-primary">Apply Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="pb-20">
            <table class="data-table table stripe hover nowrap table-lg-responsive">
                <thead>
                    <tr>
                        <th class="table-plus datatable-nosort">Name</th>
                        <th>Price</th>
                        <th>Added Date</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    
                </thead>
                
                    {% for  product  in products %}

                    <tr>
                        <td class="table-plus">{{product.product_name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.posted_Date| date}}</td>
                        {% if product.is_active %}
                        <td>Active</td>
                        {% else %}
                        <td>Not Active
                        {% endif %}
                        
                        <td>
                            
                            <div class="dropdown">
                                <a
                                    class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
                                    href="#"
                                    role="button"
                                    data-toggle="dropdown"
                                >
                                <i class="fa-solid fa-ellipsis-vertical text-dark"></i>
                                </a>
                                <div
                                    class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
                                >
                                    <a class="dropdown-item" href="{% url 'product_details' product.id %}"
                                        ><i class="fa-solid fa-eye"></i> View</a
                                    >
                                    <a class="dropdown-item" href="{% url 'edit_product' product.id %}"
                                        ><i class=" fa-solid fa-pen"></i> Edit</a
                                    >
                                    <a
                        href="#"
                        class="btn-block"
                        data-toggle="modal"
                        data-target="#confirmation-modal"
                        type="button"
                    >
                       <i class="fa-solid fa-delete-left"></i>
                       Delete
                    </a>
                  </div>
                            </div>
                        </td>
                        </tr>


                        
                        <!-- Confirmation modal -->
                    
                    <div
                    class="modal fade"
                    id="confirmation-modal"
                    tabindex="-1"
                    role="dialog"
                    aria-hidden="true"
                >
                    <div
                        class="modal-dialog modal-dialog-centered"
                        role="document"
                    >
                        <div class="modal-content">
                            <div class="modal-body text-center font-13">
                                <h4 class="padding-top-4 mb-30 weight-300">
                                    Are you sure you want to delete this product?
                                </h4>
                                <div
                                    class="padding-bottom-30 row"
                                    style="max-width: 170px; margin: 0 auto"
                                >
                                    <div class="col-6">
                                        <button
                                            type="button"
                                            class="btn btn-secondary border-radius-100 btn-block confirmation-btn"
                                            data-dismiss="modal"
                                        >
                                            <i class="fa fa-times"></i>
                                        </button>
                                        NO
                                    </div>
                                    <form action="" method="post" name="dalete">
                                        {% csrf_token %}
                                    <div class="col-6">           
                                            <input type="hidden" name="productID" value="{{product.id}}">
                                        <button
                                            type="submit"
                                            name="delete"
                                            class="btn btn-primary border-radius-100 btn-block confirmation-btn"
                                        >
                                            <i class="fa fa-check"></i>
                                            
                                        </button>
                                        YES
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    {% endfor %}

                </tbody>
            </table>
            {% if messages %}

                {% for messsage in messages  %}
                <div class="alert alert-light text-center">
                    {{messsage}}
                </div>
                {% endfor %}{% endif %}
        </div>
    </div>
    <!-- Simple Datatable End -->


    		

</div>

<script src="{% static 'scripts/script.js' %}"></script>
{% endblock  %}