{% load static %} {% load bootstrap_icons %}

<!DOCTYPE html>
<html>
  <head>
    <!-- Basic Page Info -->
    <meta charset="utf-8" />
    <title>{% block title %} AbleTech Eccomerce {% endblock %}</title>

    <!-- Mobile Specific Metas -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
{% comment %}     <!-- CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/custom/core.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/custom/style2.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'vendors/styles/icon-font.min.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'scripts/plugins/jquery-steps/jquery.steps.css' %}"
    />
    static
<script src="{% static 'scripts/plugins/jquery-steps/jquery.steps.js' %}"></script>
    <link rel="stylesheet" href=" {% static '/css/custom/dashboard.css' %}" />
 {% endcomment %}

 <link
 rel="stylesheet"
 type="text/css"
 href="{% static 'css/custom/style2.css' %}"
/>

 <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/core.css' %}" />
 <link
   rel="stylesheet"
   type="text/css"
   href="{% static 'vendors/styles/icon-font.min.css'%}"
 />
 <link
   rel="stylesheet"
   type="text/css"
   href="{% static 'src/plugins/datatables/css/dataTables.bootstrap4.min.css'%}"
 />
 <link
   rel="stylesheet"
   type="text/css"
   href="{% static 'src/plugins/datatables/css/responsive.bootstrap4.min.css'%}"
 />
 <link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css'%}" />

 <link
 rel="stylesheet"
 type="text/css"
 href="{% static 'src/plugins/jquery-steps/jquery.steps.css' %}"
/>
<link rel="stylesheet" type="text/css" href="{% static 'vendors/styles/style.css' %}" />
<!-- switchery css -->
<link
rel="stylesheet"
type="text/css"
href="{% static 'src/plugins/switchery/switchery.min.css' %}"
/>
    <head>
      <!-- reference your installed Font Awesome Free package's files here -->
      <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    <!-- Format Images loader CSS -->
    <link rel="stylesheet" href="{% static 'snippets/image-uploader/jquery.imagesloader.css' %}">

    <!-- Images loader -->
    <script src="{% static 'snippets/image-uploader/jquery.imagesloader-1.0.1.js' %}"></script>


    </head>
    ...

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GBZ3SGGX85");
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
    </script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript">
      const user = '{{request.user}}'
    
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
  </script>
  
  </head>
  {% load humanize %}
  <body>
    <div class="header">
      <div class="header-left">
        <div class="menu-icon" data-toggle="left-side-bar"><i class="fa-solid fa-bars"></i></div>
        <div class="search-toggle-icon" data-toggle="header_search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="header-search">
          <form>
            <div class="form-group mb-0">
              <i class="search-icon fa-solid fa-magnifying-glass"></i>
              <input
                type="text"
                class="form-control search-input"
                placeholder="Search Here"
              />
    

            </div>
          </form>
        </div>
      </div>
      <div class="header-right">
        <div class="dashboard-setting user-notification">
          <div class="dropdown">
            <a
              class="dropdown-toggle no-arrow"
              href="javascript:;"
              data-toggle=""
            >
            
              <i class="icon-copy text-primary fa-2 dw dw-chat4"></i>
            </a>
          </div>
        </div>
        
        <div class="dashboard-setting user-notification">
          <div class="dropdown">
            <a
              class="dropdown-toggle no-arrow"
              href="javascript:;"
              data-toggle="right-sidebar"
            >
            
            <i class="text-primary icon-copy dw dw-settings2"></i>
            </a>
          </div>
        </div>

        <div class="user-notification">
          <div class="dropdown">
            <a
              class="dropdown-toggle no-arrow"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              <i class="text-primary fa-solid fa-bell"></i>
              <span class=""></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="notification-list mx-h-350 customscroll">
                <ul>
                  <li>
                    <a href="#">
                      <img src="vendors/images/photo1.jpg" alt="" />
                      <h3>Lea R. Frith</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed...
                      </p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="vendors/images/photo2.jpg" alt="" />
                      <h3>Erik L. Richards</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed...
                      </p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="user-info-dropdown">
          <div class="dropdown">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
            {% if user.is_authenticated %}
            <span class="user-icon">
              <img src="{{request.user.profile_pic.url}}" alt="" />
            </span>
            <span class="user-name text-capitalize">{{request.user.username}}</span>
            {% else %}
            <span class="user-name">Login</span>
            {% endif %}
              
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
            >
              <a class="dropdown-item" href=""
                ><i class="fa-solid fa-user"></i> Profile</a
              >
              <a class="dropdown-item" href=""
                ><i class="fa-solid fa-solid fa-gear"></i> Setting</a
              >
              
              <a class="dropdown-item" href="{% url 'logout_user' %}"
                ><i class="fa-solid fa-logout"></i> Log Out</a
              >
            </div>
          </div>
        </div>
       
      </div>
    </div>



		<div class="right-sidebar">
			<div class="sidebar-title">
				<h3 class="weight-600 font-16 text-blue">
					Layout Settings
					<span class="btn-block font-weight-400 font-12"
						>User Interface Settings</span
					>
				</h3>
				<div class="close-sidebar" data-toggle="right-sidebar-close">
					<i class="icon-copy ion-close-round"></i>
				</div>
			</div>
			<div class="right-sidebar-body customscroll">
				<div class="right-sidebar-body-content">
					<h4 class="weight-600 font-18 pb-10">Header Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-white active"
							>White</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary header-dark"
							>Dark</a
						>
					</div>

					<h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
					<div class="sidebar-btn-group pb-30 mb-10">
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-light "
							>White</a
						>
						<a
							href="javascript:void(0);"
							class="btn btn-outline-primary sidebar-dark active"
							>Dark</a
						>
					</div>
				</div>
			</div>
		</div>


    <div class="left-side-bar ">
      <div class="brand-logo text-white">
        <a href="{% url 'dashboard' %}">
          <h3 class="text-dark tetx-decoration-none">AbleTech</h3>
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
          <i class="icon-copy ion-close-round"></i>
        </div>
      </div>
      <div class="menu-block customscroll text-dark">
        <div class="sidebar-menu">
          <ul id="accordion-menu">
            <li class="dropmdown ">
              <a href="{% url 'dashboard' %}" class="dropdown-toggle">
                <span class="micon"><i class="fa-solid fa-house-user"></i></span
                ><span class="mtext">Home</span>
              </a>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon"
                  ><i class="fa-solid fa-box-archive"></i
                ></span>
                <span class="mtext">Orders</span>
              </a>
              <ul class="submenu">

                <li><a href="{% url 'orders' %}">All orders</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon"
                  ><i class="fa-solid fa-basket-shopping"></i
                ></span>

                <span class="mtext">Products</span>
              </a>
              <ul class="submenu">
                <li><a href="{% url 'all_products' %}">All Products</a></li>
                <li><a href="">Product Reviews</a></li>
                <li><a href=" {% url 'add_product' %}">Add product</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon"><i class="fa-solid fa-bars"></i></span>
                <span class="mtext">Your Shop </span>
              </a>
              <ul class="submenu">
                <li><a href=" {% url 'shop_setting' %}">Shop Setting</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon">
                  <i class="fa-solid fa-sack-dollar"></i></span
                ><span class="mtext">Salles</span>
              </a>
              <ul class="submenu">
                <li><a href="">Add Sale</a></li>
                <li><a href="">Recent Sales</a></li>
                
              </ul>
            </li>

            <li class="dropdown">
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon"><i class="fa-solid fa-user-gear"></i></span
                ><span class="mtext">Account </span>
              </a>
              <ul class="submenu">
                <li><a href="">Profile</a></li>
                <li><a href="">Change Password</a></li>
                <li><a href="">FAQ</a></li>
                
              </ul>
            </li>

            <li>
              <a href="javascript:;" class="dropdown-toggle">
                <span class="micon"><i class="fa-solid fa-chart-line"></i></span
                ><span class="mtext">Analytics</span>
              </a>
              <ul class="submenu">
                <li><a href="">Introduction</a></li>
              
                
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">{% block content %} {% endblock %}</div>
    

    <!-- js -->

    <script>
			Dropzone.autoDiscover = false;
			$(".dropzone").dropzone({
				addRemoveLinks: true,
				removedfile: function (file) {
					var name = file.name;
					var _ref;
					return (_ref = file.previewElement) != null
						? _ref.parentNode.removeChild(file.previewElement)
						: void 0;
				},
			});
		</script>



    <script src="{% static 'vendors/scripts/core.js' %}"></script>
		<script src="{% static 'vendors/scripts/script.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/process.js' %}"></script>
		<script src="{% static 'vendors/scripts/layout-settings.js' %}"></script>
		<script src="{% static 'src/plugins/apexcharts/apexcharts.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.bootstrap4.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/dataTables.responsive.min.js' %}"></script>
		<script src="{% static 'src/plugins/datatables/js/responsive.bootstrap4.min.js' %}"></script>
		<script src="{% static 'vendors/scripts/dashboard3.js' %}"></script>
    <script src="{% static 'src/plugins/switchery/switchery.min.js' %}"></script>


    

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
