{% extends "dashboard/base.html" %}
{% load humanize %}
{% load static %} 
{% block title %} Seller
Dashboard {% endblock %}

<style>
  .plus-div {
    margin-left: -2086px;
  }
</style>

{% block content %}

<div class="row pb-10">
  <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
    <div class="card-box height-100-p widget-style3">
      <div class="d-flex flex-wrap">
        <div class="widget-data">
          <div class="weight-700 font-24 text-dark">00{{total_products}}</div>
          <div class="font-14 text-secondary weight-500">Products</div>
        </div>
        <div class="widget-icon">
          <div
            class="icon"
            data-color="#fff"
            style="color: rgb(0, 236, 207)"
          >
            <i class="icon-copy fa fa-shopping-basket" ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
    <div class="card-box height-100-p widget-style3">
      <div class="d-flex flex-wrap">
        <div class="widget-data">
          <div class="weight-700 font-24 text-dark">00{{total_orders}}</div>
          <div class="font-14 text-secondary weight-500">Total Orders</div>
        </div>
        <div class="widget-icon">
          <div
            class="icon"
            data-color="#fff"
            style="color: rgb(255, 91, 91)"
          >
            <i class="fa-solid fa-bar-chart" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
    <div class="card-box height-100-p widget-style3">
      <div class="d-flex flex-wrap">
        <div class="widget-data">
          <div class="weight-700 font-24 text-dark">{{total_sales | intword}} Tsh</div>
          <div class="font-14 text-secondary weight-500">Total Sales</div>
        </div>
        <div class="widget-icon">
          <div class="icon">
            <i class="icon-copy fa fa-usd" aria-hidden="true"></i>          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
    <div class="card-box height-100-p widget-style3">
      <div class="d-flex flex-wrap">
        <div class="widget-data">
          <div class="weight-700 font-24 text-dark">50,000 Tsh</div>
          <div class="font-14 text-secondary weight-500">This Month</div>
        </div>
        <div class="widget-icon">
          <div class="icon" data-color="#fff" style="color: rgb(9, 204, 6)">
            <i class="icon-copy fa fa-filter" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!---graph sectiin start-->

<div class="row">
  <div class="col-xl-8 mb-30">
    <div class="card-box height-100-p pd-20">
      <h2 class="h4 mb-20">Activity</h2>
      <div id="chart5"></div>
    </div>
  </div>
  <div class="col-xl-4 mb-30">
    <div class="card-box height-100-p pd-20">
      <h2 class="h4 mb-20">Lead Target</h2>
      <div id="chart6"></div>
    </div>
  </div>
</div>
<!--graph sectiin ends-->




<div class="card-box mb-30">
  <h2 class="h4 pd-20">Best Selling Products</h2>
  <table class="data-table table nowrap text-capitalize">
    <thead>
      <tr>
        <th class="table-plus datatable-nosort">Product</th>
        <th>Name</th>
        
        <th>Price</th>
        <th>Quantity Sold</th>
        <th>Added Date</th>
        <th class="datatable-nosort">Action</th>
      </tr>
    </thead>
    <tbody>
     {% for product in top_sold %}
     
     
      <tr>
        <td class="table-plus ">
          <img
            src="{{product.pictures.all.0.product_picture.url}}"
            width="70"
            height="70"
            alt=""
          />
        </td>
        <td>
         {{product.product_name}}
        
        </td>
        
        <td>{{product.price | intcomma}} Tsh</td>
        <td>45</td>
        <td>{{product.posted_Date | naturaltime}} </td>
        <td>
          <div class="dropdown">
            <a
              class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle"
              href="#"
              role="button"
              data-toggle="dropdown"
            >
              <i class="dw dw-more"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list"
            >
              <a class="dropdown-item" href=""
                ><i class="dw dw-eye"></i> View</a
              >
              <a class="dropdown-item" href=""
                ><i class="dw dw-edit2"></i> Edit</a
              >
              <a class="dropdown-item" href=""
                ><i class="dw dw-delete-3"></i> Delete</a
              >
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
