{% extends "dashboard/base.html" %}
{% load static %}


{% block title %} Edit Product {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'scripts/plugins/dropzone/src/dropzone.css' %}" />


<style>
    .addbtn {
        margin-left: 100px;
        margin-top: 5px;
    }
</style>
<div class="forms">

    <div class="form-errors">

        {% for error in productForm.errors %}
        <h6>{{error}}</h6>
        {% endfor %}
        {{productForm.product_price.errors}}
        <h6>{{productForm.product_name.errors}} </h6>
        <h6>{{productForm.manufactured_Date.errors}} </h6>
    </div>
    <div class="centered-form text-capitalize">
        <form action="/edit_product/{{product.id}}/" multiple enctype="multipart/form-data" method="POST" id="settingForm"
            data-sub-url="{% load_sub_categories %">
            {% csrf_token %}
            <h4 class="text-center my-2">Edit Products Details</h4>

            <div class="col-md-12 col-md-6 d-md-flex d-block">
                <div class="input-group">
                    <div class="w-100 mx-3">
                        <label for="full_name">Product Name</label>
                        <input class="form-control" type="text" name="product_name" id=""
                            value="{{product.product_name}}">

                    </div>
                </div>

                <div class="input-group">
                    <div class="w-100 mx-3">
                        <label for="full_name">Product Price</label>
                        <input class="form-control" type="text" id="" name="price" value="{{product.price}}">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-md-6 d-md-flex d-block">
                <div class="input-group">
                    <div class="w-100 mx-3 text-capitalize">
                        <label for="shop_category_id">Manufactured Date</label>
                        <input class="form-control" type="date" 
                        value="{{product.manufactured_Date}}" id="" name="manufactured_Date">
                    </div>
                </div>
                <div class="input-group">
                    <div class="w-100 mx-3 text-capitalize">
                        <label for="sub_category">Product Brand</label>
                        <input class="form-control" type="text" id="" name="brand_name"
                            value="{{product.brand_name}}">
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-md-6 d-md-flex d-block">
                <div class="input-group">
                    <div class="w-100 mx-3">
                        <label for="email">Description</label>
                        <textarea name="description" class="form-control" id="" cols="30" rows="10" placeholder="{{product.description}}">
                            {{product.description}}
                        </textarea>
                                    </div>
                </div>

            </div>

            <div class="col-md-12">
                <button class="btn btn-primary">SAVE</button>
            </div>
</div>

{% endblock %}